/* Bookmark.module.scss */

.bookmark {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.editMode input[type='text'] {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.actions button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.actions button:hover {
    background-color: #009FB7;
    color: white;
}

.actions button + button {
    margin-left: 10px;
}

h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #242F40;
}

a {
    text-decoration: none;
    color: #009FB7;
}

a:hover {
    text-decoration: underline;
}
