/* BookmarkList.module.scss */

.bookmarkList {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.addBookmark {
    margin-bottom: 20px;
}

.addBookmark input[type='text'] {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addBookmark button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #009FB7;
    color: white;
    border: none;
    border-radius: 5px;
}

.addBookmark button:hover {
    background-color: #007A8D;
}

h3 {
    margin-bottom: 15px;
    color: #242F40;
}

/* Import styles from Bookmark component */
@import "../Bookmark/Bookmark.module.scss";
