.updateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    padding: 10px 20px;
    background-color: #009FB7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #007d91;
}
